@CHARSET "UTF-8";

.root{
	-fx-background-image: url("Start.png");
}

.button{
	-fx-text-fill: white;
	-fx-font-family: "Monospace";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(black,blue );
}

.button:hover{
	-fx-background-color: linear-gradient(grey,lightblue);
}